@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply h-screen scroll-smooth bg-gradient-to-tl from-[#90C0DB] to-[#223653] align-middle text-[#09192E] dark:from-[#223553] dark:to-[#0F223F] dark:text-slate-50;
  }

  input[type="file"] {
    display: none;
  }
}

/* ==================BG DOts=============================================== */
/* .bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  z-index: -10;
  position: fixed;
  width: 100vw;
}
.bg .dotWrapper {
  position: absolute;
}
.bg .dotWrapper-1 {
  top: 7%;
  left: 31%;
  animation: flying 45s ease-in-out -1.2s infinite alternate;
}
.bg .dotWrapper-2 {
  top: 14%;
  left: 2%;
  animation: flying 43s ease-in-out -3.3s infinite alternate;
}
.bg .dotWrapper-3 {
  top: 66%;
  left: 35%;
  animation: flying 24s ease-in-out -6.5s infinite alternate;
}
.bg .dotWrapper-4 {
  top: 100%;
  left: 69%;
  animation: flying 55s ease-in-out -9s infinite alternate;
}
.bg .dotWrapper-5 {
  top: 6%;
  left: 35%;
  animation: flying 52s ease-in-out -0.8s infinite alternate;
}
.bg .dotWrapper-6 {
  top: 66%;
  left: 91%;
  animation: flying 45s ease-in-out -0.7s infinite alternate;
}
.bg .dotWrapper-7 {
  top: 66%;
  left: 9%;
  animation: flying 42s ease-in-out -0.5s infinite alternate;
}
.bg .dotWrapper-8 {
  top: 8%;
  left: 48%;
  animation: flying 50s ease-in-out -0.3s infinite alternate;
}
.bg .dotWrapper-9 {
  top: 25%;
  left: 13%;
  animation: flying 36s ease-in-out -5.1s infinite alternate;
}
.bg .dotWrapper-10 {
  top: 4%;
  left: 27%;
  animation: flying 36s ease-in-out -2.6s infinite alternate;
}
.bg .dotWrapper-11 {
  top: 23%;
  left: 48%;
  animation: flying 61s ease-in-out -2.9s infinite alternate;
}
.bg .dotWrapper-12 {
  top: 65%;
  left: 22%;
  animation: flying 67s ease-in-out -9.2s infinite alternate;
}
.bg .dotWrapper-13 {
  top: 18%;
  left: 97%;
  animation: flying 22s ease-in-out -2.5s infinite alternate;
}
.bg .dotWrapper-14 {
  top: 39%;
  left: 78%;
  animation: flying 57s ease-in-out -2s infinite alternate;
}
.bg .dotWrapper-15 {
  top: 40%;
  left: 7%;
  animation: flying 41s ease-in-out -6.4s infinite alternate;
}
.bg .dotWrapper-16 {
  top: 11%;
  left: 97%;
  animation: flying 62s ease-in-out -6.4s infinite alternate;
}
.bg .dotWrapper-17 {
  top: 59%;
  left: 8%;
  animation: flying 60s ease-in-out -4.4s infinite alternate;
}
.bg .dotWrapper-18 {
  top: 35%;
  left: 2%;
  animation: flying 52s ease-in-out -7.9s infinite alternate;
}
.bg .dotWrapper-19 {
  top: 83%;
  left: 47%;
  animation: flying 52s ease-in-out -7.6s infinite alternate;
}
.bg .dotWrapper-20 {
  top: 12%;
  left: 25%;
  animation: flying 25s ease-in-out -2s infinite alternate;
}
.dot {
  width: 50px;
  height: 50px;
  background: #286d5d;
  border-radius: 50%;
}
.dot2 {
  width: 50px;
  height: 50px;
  background: #0a192f;
  border-radius: 50%;
}
.bg .dot-1 {
  transform-origin: -4px 9px;
  animation: rotating 12s ease-in-out -1s infinite;
}
.bg .dot-2 {
  transform-origin: -5px -8px;
  animation: rotating 17s ease-in-out -6.8s infinite;
}
.bg .dot-3 {
  transform-origin: -6px -4px;
  animation: rotating 15s ease-in-out -6.3s infinite;
}
.bg .dot-4 {
  transform-origin: 13px -5px;
  animation: rotating 14s ease-in-out -4.8s infinite;
}
.bg .dot-5 {
  transform-origin: 12px 0px;
  animation: rotating 26s ease-in-out -6.9s infinite;
}
.bg .dot-6 {
  transform-origin: 13px 7px;
  animation: rotating 15s ease-in-out -3.2s infinite;
}
.bg .dot-7 {
  transform-origin: 15px -11px;
  animation: rotating 25s ease-in-out -2.8s infinite;
}
.bg .dot-8 {
  transform-origin: 12px 6px;
  animation: rotating 24s ease-in-out -9.8s infinite;
}
.bg .dot-9 {
  transform-origin: 6px -13px;
  animation: rotating 21s ease-in-out -2.3s infinite;
}
.bg .dot-10 {
  transform-origin: -11px -9px;
  animation: rotating 20s ease-in-out -3.6s infinite;
}
.bg .dot-11 {
  transform-origin: 13px -12px;
  animation: rotating 21s ease-in-out -2.5s infinite;
}
.bg .dot-12 {
  transform-origin: 7px -12px;
  animation: rotating 22s ease-in-out -5.4s infinite;
}
.bg .dot-13 {
  transform-origin: 6px 13px;
  animation: rotating 18s ease-in-out -1.5s infinite;
}
.bg .dot-14 {
  transform-origin: -10px -12px;
  animation: rotating 19s ease-in-out -3.6s infinite;
}
.bg .dot-15 {
  transform-origin: 11px -2px;
  animation: rotating 21s ease-in-out -5.7s infinite;
}
.bg .dot-16 {
  transform-origin: 9px 7px;
  animation: rotating 14s ease-in-out -0.5s infinite;
}
.bg .dot-17 {
  transform-origin: 11px -2px;
  animation: rotating 23s ease-in-out -3.7s infinite;
}
.bg .dot-18 {
  transform-origin: 0px 6px;
  animation: rotating 28s ease-in-out -6s infinite;
}
.bg .dot-19 {
  transform-origin: 7px -5px;
  animation: rotating 25s ease-in-out -3.7s infinite;
}
.bg .dot-20 {
  transform-origin: 7px 13px;
  animation: rotating 14s ease-in-out -4s infinite;
}

@keyframes rotating {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  25%,
  75% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: rotate(360deg);
  }
}
@keyframes flying {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(20px, 50px);
  }
  20% {
    transform: translate(-30px, 10px);
  }
  30% {
    transform: translate(10px, 60px);
  }
  40% {
    transform: translate(50px, 0px);
  }
  50% {
    transform: translate(-10px, -40px);
  }
  60% {
    transform: translate(-40px, 20px);
  }
  70% {
    transform: translate(30px, -30px);
  }
  80% {
    transform: translate(0px, -60px);
  }
  90% {
    transform: translate(40px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
} */

/* --------------------------------
  Custom Scrollbar
  -------------------------------- */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  margin: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: #286d5d;
}
