{% extends 'base.html' %} {% block content %}
<form
  class="flex w-full flex-col items-center justify-center gap-10"
  method="POST"
  enctype="multipart/form-data"
>
  <h1 class="text-center text-4xl">Upload A Photo</h1>
  <div class="mx-auto flex w-11/12 flex-row flex-wrap justify-center">
    <input
      class="bg-blur w-4/6 rounded-l-lg border-2 border-[#A5B9C8] bg-[#A5B9C8] bg-opacity-60 text-center dark:border-black dark:border-opacity-10 dark:bg-black dark:bg-opacity-25"
      id="txtFileName"
      type="text"
      readonly="readonly"
    />

    <!-- <input class="custom-file-upload" type="file" onchange="CopyMe(this, 'txtFileName');" /> -->

    <label
      for="file-upload"
      class="bg-blur block cursor-pointer rounded-r-lg bg-white bg-opacity-60 hover:bg-slate-100 dark:border-black dark:border-opacity-10 dark:bg-black dark:bg-opacity-70 dark:hover:bg-slate-700"
    >
      <div class="flex h-14 w-full items-center space-x-1 rounded-t-3xl px-3">
        <div class="h-3 w-3 rounded-full bg-[#8792AE] align-middle"></div>
        <div class="h-3 w-3 rounded-full bg-[#8792AE] align-middle"></div>
        <div class="h-3 w-3 rounded-full bg-[#8792AE] align-middle"></div>
      </div>
    </label>
    <input
      id="file-upload"
      type="file"
      name="img"
      onchange="CopyMe(this, 'txtFileName');"
    />
  </div>
  <div>
    <input
      class="bg-blur h-10 rounded-lg border-2 bg-white bg-opacity-60 text-center placeholder:text-[#18293C] placeholder:text-opacity-70 dark:border-black dark:border-opacity-10 dark:bg-black dark:bg-opacity-60 dark:placeholder:text-white dark:placeholder:text-opacity-70"
      type="text"
      id="title"
      name="text"
      placeholder=" Caption"
      value="{{request.form[Title]}}"
    />
  </div>
  <div>
    <button
      class="bg-blur block cursor-pointer rounded-full border-2 bg-white bg-opacity-50 px-10 py-2 text-center text-3xl text-[#2A6D5E] hover:bg-slate-100 dark:border-black dark:border-opacity-10 dark:bg-black dark:bg-opacity-50 dark:text-[#69FFDB] dark:hover:bg-slate-700"
    >
      Submit
    </button>
  </div>

  <div class="pt-8 text-base font-semibold leading-7">
    <p>
      <a
        id="view"
        onclick=""
        href="#Gallery"
        class="text-sky-500 hover:text-sky-600"
        >View Gallery &rarr;</a
      >
    </p>
  </div>
</form>

{% endblock content %} {% block gallery %}
<div id="Gallery" class="m-auto mt-10 columns-3 p-16">
  {% for post in posts %} {% if post.mimetype %}

  <div class="show-image">
    <img class="mb-4 rounded-2xl w-full h-5/6 object-scale-down "
    src=/img/{{post.id}}>

    <a href="/delete/{{post.id}}" class="delete" type="submit" value="delete"
      ><img
        src="{{url_for('static',filename='images/trash-bin.png')}}"
        alt="deleteBnt"
    /></a>
    <a class="update bg-black opacity-25" type="submit">{{post.text}}</a>
  </div>

  {% endif %} {% endfor %} {% endblock gallery %}
</div>
